__pycache__
*.py[cod]
*$py.class
.molecule
.cache
roles/
collections/
vault.pass
.vault.pass
*.rc
*.swp
backups
.vscode
playbooks/debug*
venv
secrets
containerlabs/*.bak
containerlabs/clab-s3n
containerlabs/clab-simple
